.svg-wrapper {
  position: relative;
}
.svg-container {
  position: relative;
}
.svg-container object,
.svg-container object img,
svg {
  max-width: 100%;
  height: auto;
}
/* .svg-controls {
  position: absolute;
  width: 100%;
} */
.on {
  fill: pink !important;
  stroke: red !important;
  stroke-width: 2 !important;
}
.path {
  fill: #1882bf;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}
